body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}

.parent {
  width: 100%;
  border: 5px solid #E18728;
  float: left;
}
.jumbotron{
  width: 90%;
  border: 5px solid #E18728;
 
}

.child {
  width: 100%;
  padding: 20%;
 
  margin: .5em auto;
  border-radius: 10px;
}

.twins {
  width: 50%;
  padding: 5em;
  border: 4px solid black;
  float: none;
  border-radius: 10px;
}

.quarter{
    widows: 5px;0%;
    height:100%;
    float:left;
    border: 4px solid black;
    border-radius: 10px;
  }
  .contents{
    height:50%;
    width:100%;
    overflow: auto;
    border: 4px solid #E18728; 
   
  }
  

  img {
    image-rendering: auto;
  }
  
